In [1]:
import pandas as pd
import json

In [2]:
# the xlsx cab be obtained at 
# https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/87YG4K
  # and then change the name to visits.xlsx and place it in the same folder as the notebook file
  # drop SourceLink columns
  # coerce errors in TripEndDate and TripDuration columns and other columns if data is not in
  # output as parquet to have better performance
# df = pd.read_excel("./visits.xlsx", index_col="TripID")
# df = df.drop([f"SourceLink{i}" for i in range(1, 34)], axis=1)
# df = df.drop([ "PriorityLeader", "CotravelHOGS"], axis=1)


# df['TripEndDate'] = pd.to_datetime(df['TripEndDate'], errors='coerce')
# df['TripStartDate'] = pd.to_datetime(df['TripStartDate'], errors='coerce')
# df['TripDuration'] = pd.to_numeric(df['TripDuration'], errors='coerce')

# df = df.replace({"Yes": True, "No": False})

# df.to_parquet('visits.parquet')

df = pd.read_parquet('visits.parquet')

In [3]:
df.columns

Index(['LeaderID', 'LeaderCountryOrIGO', 'LeaderCountryISO', 'LeaderRegion',
       'LeaderSubregion', 'LeaderRole', 'LeaderTitle', 'LeaderSurname',
       'LeaderFullName', 'Exiled', 'CountryVisited', 'CountryVisitedISO',
       'RegionVisited', 'SubRegionVisited', 'DisputedTerritory',
       'SemiAutoTerritory', 'TripYear', 'TripStartDate', 'TripEndDate',
       'TripDuration', 'SubHOGSTravelWithHOGS', 'MetHostHoGS', 'HostHOGSName',
       'SubHOGSmetHostSubHOGS', 'HostSubHOGSName', 'AttendedMultilatEvent',
       'NameMultilatEvent', 'AttendedMultilatMinisterialEvent',
       'NameMultilatMinisterialEvent', 'MetNonhostHOGS', 'NonhostHOGSNames',
       'PublicAddress', 'SignedAgreement', 'CulturalSiteOrCeremony',
       'BusinessLeaderOrForum', 'MetIGOLeader', 'IGOLeaderName', 'Notes',
       'Confidence(1-5)'],
      dtype='object')

In [4]:
visit_per_year = df["TripYear"].value_counts()
year_min_visits = visit_per_year.idxmin()
year_max_visits = visit_per_year.idxmax()
print(f"Year with least visits {year_min_visits}")
print(f"Year with max visits {year_max_visits}")

Year with least visits 2020
Year with max visits 2023

In [5]:
top_10_visits_by_country_2020 = df[df["TripYear"] == 2020]["LeaderCountryOrIGO"].value_counts().head(10)
top_10_visits_to_country_2020 = df[df["TripYear"] == 2020]["CountryVisited"].value_counts().head(10)

print(f"Top countries that sent Diplomatic visitors in 2020 {top_10_visits_by_country_2020}")
print(f"Top countries that received Diplomatic visitors in 2020 {top_10_visits_to_country_2020}")

Top countries that sent Diplomatic visitors in 2020 LeaderCountryOrIGO
Spain                       22
Hungary                     22
France                      21
Italy                       19
European Commission (EC)    18
Austria                     18
Senegal                     17
Slovakia                    17
Greece                      17
Croatia                     17
Name: count, dtype: int64
Top countries that received Diplomatic visitors in 2020 CountryVisited
Belgium                 148
Germany                  57
France                   45
Switzerland              40
Ethiopia                 39
United Kingdom           37
United States            29
United Arab Emirates     27
Russia                   22
Turkiye                  21
Name: count, dtype: int64

In [8]:
most_visits_by_country_per_year = (df
  .groupby(["TripYear", "LeaderCountryOrIGO"])
  .size()
  .reset_index(name='count')
  .sort_values(["TripYear", "count"], ascending=[True,False])
  .groupby('TripYear')
  .head(1)
)
most_visits_to_country_per_year = (df
  .groupby(["TripYear", "CountryVisited"])
  .size()
  .reset_index(name='count')
  .sort_values(["TripYear", "count"], ascending=[True,False])
  .groupby('TripYear')
  .head(1)
)

sum_visits_by = (most_visits_by_country_per_year
  .groupby("LeaderCountryOrIGO")["TripYear"]
  .apply(lambda d: sorted(d))
  .reset_index()
)

sum_visits_to =(most_visits_to_country_per_year
  .groupby("CountryVisited")["TripYear"]
  .apply(lambda d: sorted(d))
  .reset_index()
)

In [10]:
sum_visits_by["NumYearsTop"] = sum_visits_by["TripYear"].apply(len)
sum_visits_by.sort_values("NumYearsTop", ascending=False)

,LeaderCountryOrIGO,TripYear,NumYearsTop
9,Palestine,"[1990, 1991, 1999, 2000, 2001, 2006, 2007, 200...",11
11,United Nations (UN),"[1998, 2002, 2011, 2014, 2015, 2016, 2017]",7
1,European Commission (EC),"[2013, 2021, 2022, 2023, 2024]",5
7,North Atlantic Treaty Organization (NATO),"[1996, 1997, 2003, 2004]",4
0,Bosnia and Herzegovina,[1993],1
2,France,[2018],1
3,Greece,[1992],1
4,Hungary,[2020],1
5,Lithuania,[1995],1
6,Nigeria,[2005],1
8,Organisation of African Unity (OAU),[1994],1
10,Rwanda,[2019],1

In [11]:
sum_visits_to["NumYearsTop"] = sum_visits_to["TripYear"].apply(len)
sum_visits_to.sort_values("NumYearsTop", ascending=False)

,CountryVisited,TripYear,NumYearsTop
2,United States,"[1990, 1991, 1992, 1993, 1994, 1995, 1997, 199...",25
0,Belgium,"[2009, 2010, 2012, 2013, 2014, 2015, 2018, 202...",9
1,France,[1996],1

looking beyond 2020 and investigating other years it seems that Palestine has sent most diplomatic visitors in 11 out of 35 years in each year.

in terms of who received the most diplomatic visitors it seems that the United States has received the most diplomatic visitors in 25 out of 35 years.

In [20]:
# check how were the visits over different regions
origin_of_visit = (df
  .groupby(["LeaderRegion", "TripYear"])
  .size()
)

destination_of_visit = (df
  .groupby(["RegionVisited", "TripYear"])
  .size()
)

origin_of_visit

LeaderRegion  TripYear
Africa        1990        325
              1991        295
              1992        235
              1993        215
              1994        281
                         ...
Oceania       2020          8
              2021         22
              2022         75
              2023        130
              2024        128
Length: 245, dtype: int64

In [ ]:
# get the longest trip duration
longest_trip = df[df["TripDuration"] == df["TripDuration"].max()].T

# get the exchange relationship between the countries per year.
exchange_relationship = (df.
  groupby(["TripYear", "LeaderCountryOrIGO", "CountryVisited"])
  .size()
  .reset_index(name="Count") 
)

       TripYear LeaderCountryOrIGO CountryVisited  Count
2488       1992            Iceland      Palestine      1
5056       1994            Turkiye      Palestine      1
5592       1995            Germany      Palestine      1
5769       1995              Japan      Palestine      1
5784       1995         Kazakhstan      Palestine      1
...         ...                ...            ...    ...
57231      2023        Netherlands      Palestine      1
57745      2023              Spain      Palestine      1
59032      2024      Guinea-Bissau      Palestine      1
59171      2024             Israel      Palestine      2
59622      2024        Netherlands      Palestine      1

[144 rows x 4 columns]

In [ ]:
#